---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import ProductOverviewWithGridBreadcrum from "../components/ProductOverviewWithGrid/Breadcrumbs.astro";
import ProductOverviewWithGridImageGallery from "../components/ProductOverviewWithGrid/ImageGallery.astro";
import ProductOverviewWithGridProductInfo from "../components/ProductOverviewWithGrid/ProductInformation.svelte";

const productid = 1;

const res = await fetch(`${Astro.url.origin}/api/products/${productid}.json`);
const { breadcrumbs, images, ...product } = await res.json();
---

<DefaultLayout title={product.name}>
  <div class='bg-white'>
    <div class='pt-6'>
      <ProductOverviewWithGridBreadcrum
        productName={product.name}
        breadcrumbs={breadcrumbs}
      />
      <ProductOverviewWithGridImageGallery images={images} />
      <div
        class='mx-auto max-w-2xl px-4 pb-16 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-16'
      >
        <div class='lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8'>
          <h1
            class='text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl'
          >
            {product.name}
          </h1>
        </div>
        <ProductOverviewWithGridProductInfo client:load product={product} />
        <div
          class='py-10 lg:col-span-2 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pb-16 lg:pr-8 lg:pt-6'
        >
          <div>
            <h3 class='sr-only'>Description</h3>
            <div class='space-y-6'>
              <p class='text-base text-gray-900'>{product.description}</p>
            </div>
          </div>
          <div class='mt-10'>
            <h3 class='text-sm font-medium text-gray-900'>Highlights</h3>
            <div class='mt-4'>
              <ul role='list' class='list-disc space-y-2 pl-4 text-sm'>
                {
                  product.highlights.map((highlight: string) => (
                    <li class='text-gray-400'>
                      <span class='text-gray-600'>{highlight}</span>
                    </li>
                  ))
                }
              </ul>
            </div>
          </div>
          <div class='mt-10'>
            <h2 class='text-sm font-medium text-gray-900'>Details</h2>
            <div class='mt-4 space-y-6'>
              <p class='text-sm text-gray-600'>
                {product.description}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</DefaultLayout>
